@media screen and (max-width: 1440px) {
    .platforminfo {
        padding-top: 90px;
    }
}

@media only screen and (max-device-width: 1366px) {
    .slideanimright {
        display: block;
    }
}

@media only screen and (max-device-width: 1200px) {
    body {
        overflow-x: hidden;
    }

    .head {
        background-image: url(../img/head@1x.jpg);
        background-position: center;
    }

    .head .head-wrap {
        justify-content: center;
    }

    .head .head-wrap #navbar-right {
        margin-top: 2%;
    }

    .hero {
        margin-right: 20px;
    }

    .canceltrades {
        background-image: url(../img/canceltrades@1x.jpg);
        background-position: center;
    }

    .advantages .advantages_wrap {
        width: 980px;
    }
}

@media screen and (max-width: 1180px) {
    .head .head-wrap {
        width: 100%;
    }

    .footer_wrap {
        width: 980px;
    }
}

@media only screen and (max-device-width: 1112px) {
    .head .head-wrap .navbar {
        width: 980px;
    }

    .head .head-wrap .navbarscroll {
        width: 100%;
    }
}

@media only screen and (max-device-width: 1024px) {}

@media only screen and (max-device-width: 960px) {
    .head .head-wrap .navbar {
        width: 900px;
    }

    .head .head-wrap .navbarscroll {
        width: 100%;
    }

    .advantages .advantages_wrap {
        width: 900px;
    }

    .footer_wrap {
        width: 900px;
    }
}

@media only screen and (max-device-width: 847px) {
    .head .head-wrap {
        padding-top: 140px;
    }

    .head .head-wrap .navbar {
        width: 800px;
    }

    .head .head-wrap .navbarscroll {
        width: 100%;
    }

    .head .hero h1 {
        padding-top: 35px;
        font-size: 36px;

    }

    .head .hero .hero_texteasy,
    .head .hero .hero_textfast {
        font-size: 18px;
    }

    .head .hero .hero_textwrap .hero_imgcheck {
        height: 18px;
    }

    .hero_imglightning {
        height: 70px;
    }

    .head .hero .hero_textnumber {
        font-size: 70px;
        line-height: 75px;
    }

    .head .hero .hero_textuser {
        font-size: 18px;
        line-height: 24px;
        margin-left: 72px;
    }

    .head .openaccount {
        width: 320px;
    }

    .head .openaccount .icon-question {
        background-position: 280px 10px;
    }

    .head .openaccount .icon-arrow {
        background-position: 290px 20px;
    }

    .button {
        width: 320px;
    }

    .head .openaccount .openaccount_text {
        margin-bottom: 30px;
    }

    .head .openaccount .brands1 {
        margin-bottom: 25px;
    }

    .platforminfo .devices_alltext {
        margin-bottom: 50px;
    }

    .advantages .advantages_wrap {
        width: 800px;
    }

    .footer_wrap {
        width: 800px;
    }
}

@media only screen and (max-device-width: 800px) {
    .footer_textrisk {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 768px) {
    .head .head-wrap .navbar {
        width: 736px;
    }

    .head .head-wrap .navbarscroll {
        width: 100%;
    }

    .platforminfo .devices_alltext {
        margin-bottom: 30px;
    }

    .canceltrades h1 {
        font-size: 55px;
    }

    .advantages .advantages_wrap .advantages_col {
        width: 150px;
    }

    .advantages_icon {
        width: 110px;
    }

    .footer_wrap {
        width: 736px;
    }

    .advantages .advantages_wrap {
        width: 736px;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 736px) {
    .head .head-wrap .navbar {
        margin-top: 10px !important;
    }

    .head .head-wrap .navbarscroll {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 732px) {
    .head .head-wrap .navbar {
        width: 732px;
    }

    .head .head-wrap .navbarscroll {
        width: 100%;
    }

    .head .head-wrap {
        padding-top: 90px;
    }

    .advantages .advantages_wrap {
        width: 732px;
    }

    .footer_wrap {
        width: 700px;
    }
}

@media screen and (max-width: 668px) {
    .head .head-wrap .navbar {
        width: 667px;
    }

    .head .head-wrap .navbarscroll {
        width: 100%;
    }

    .head .hero h1 {
        padding-top: 26px;
        font-size: 30px;
    }

    .head .hero .hero_texteasy,
    .head .hero .hero_textfast {
        font-size: 15px;
    }

    .head .hero .hero_textnumber {
        font-size: 55px;
        line-height: 65px;
    }

    .hero_imglightning {
        height: 60px;
    }

    .head .hero .hero_textuser {
        font-size: 16px;
        line-height: 21px;
    }

    .canceltrades h1 {
        font-size: 50px;
    }

    .advantages .advantages_wrap {
        width: 640px;
    }

    .footer_wrap {
        width: 640px;
    }
}

@media screen and (max-width: 640px) {
    .head {
        background-image: url(../img/head@x.jpg);
    }

    .canceltrades {
        background-image: url(../img/canceltrades@x.jpg);
    }

    .footer_textrisk {
        margin-left: 15px;

    }
}

@media screen and (max-width: 600px) {
    .head .head-wrap .navbar {
        width: 600px;
    }

    .head .head-wrap .navbarscroll {
        width: 100%;
    }

    .head .head-wrap {
        flex-direction: column;
        align-items: center;
    }

    .head .hero .hero_textuser {
        padding-bottom: 0;
    }

    .icon-logo {
        width: 36px;
    }

    .head .head-wrap .navbar #logo {
        font-size: 30px;
    }

    .canceltrades h1 {
        font-size: 46px;
    }

    .head .hero .hero_texteasy,
    .head .hero .hero_textfast {
        font-size: 18px;
    }

    .advantages .advantages_wrap {
        width: 595px;
    }

    .advantages .advantages_wrap p {
        font-size: 11px;
    }

    .footer_wrap {
        width: 600px;
    }
}

@media screen and (max-width: 580px) {
    .navbar {
        padding: 0px 10px !important;
    }

    .navbar a {
        float: none;
        text-align: left;
    }

    #navbar-right {
        float: none;
    }
}

@media screen and (max-width: 568px) {
    .head .head-wrap .navbar {
        width: 100%;
    }

    .head .head-wrap .navbarscroll {
        width: 100%;
    }

    .head .head-wrap {
        padding-top: 90px;
    }

    .head .head-wrap .navbar #logo {
        font-size: 30px !important;
    }

    .advantages .advantages_wrap {
        width: 100%;
    }

    .platforminfo {
        padding-top: 50px;
    }

    .devices_img {
        display: none;
    }

    .devices_alltext {
        width: 100%;
    }

    .canceltrades h3 {
        width: 100%;
    }

    .advantages .advantages_wrap .advantages_col {
        width: 125px;
    }

    .advantages_icon {
        width: 95px;
    }

    .advantages .advantages_wrap {
        flex-wrap: wrap;
    }

    .advantages .advantages_wrap .advantages_col {
        width: 150px;
    }

    .footer_wrap {
        width: 100%;
    }

}

@media screen and (max-width: 415px) {
    .head .head-wrap #navbar-right {
        margin-top: 0%;
    }

    .head .head-wrap .navbar #logo {
        font-size: 27px !important;
        padding: 0 !important;
    }

    .slideanimright_brmove {
        display: none;
    }

    .dot:last-of-type {
        display: none;
    }

    .footer_wrap {
        width: 320px;
    }

    .footer_text {
        padding-top: 30px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 384px) {}

@media screen and (max-width: 376px) {}

@media screen and (max-width: 360px) {
    .canceltrades h1 {
        font-size: 42px;
    }
}

@media screen and (max-width: 320px) {
    .hero {
        margin-right: auto;
        margin-left: 15px;
    }

    .head .openaccount {
        width: 300px;
    }

    .head .openaccount .icon-question {
        background-position: 260px 10px;
    }

    .head .openaccount .icon-arrow {
        background-position: 270px 20px;
    }

    .button {
        width: 300px;
    }

    .slideanimright_brmove {
        display: inline-block;
    }

    .canceltrades h2 {
        font-size: 36px;
    }
}