@font-face {
  font-family: Roboto;
  src: url(../libr/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../libr/font/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../libr/font/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../libr/font/Roboto-Medium.ttf);
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #363636;
}
.head {
  background-image: url(../img/head@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.head .head-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 185px;
}
.head .head-wrap .navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  padding: 0px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: fixed;
  width: 1180px;
  top: 0;
  z-index: 99;
  margin-top: 78px;
}
.head .head-wrap .navbar img {
  border-radius: 5px;
}
.head .head-wrap .navbarscroll {
  width: 100%;
}
.head .head-wrap .navbar a {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}
.head .head-wrap .navbar a .fab {
  font-size: 18px;
  padding: 0;
}
.head .head-wrap .navbar #logo {
  float: left;
  font-size: 35px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.head .head-wrap #navbar-right {
  float: right;
  margin-top: 1%;
}
.head .hero h1 {
  margin-top: 0;
  padding-top: 55px;
  text-transform: uppercase;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 58px;
}
.head .hero .hero_texteasy {
  font-size: 32px;
  line-height: 49px;
  font-family: 'Roboto-Light', sans-serif;
}
.head .hero .hero_textwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.head .hero .hero_textwrap .hero_imgcheck {
  vertical-align: top;
  height: 32px;
}
.head .hero .hero_textfast {
  font-size: 28px;
}
.head .hero .hero_textnumber {
  font-size: 95px;
  font-family: 'Roboto-Light', sans-serif;
  line-height: 121px;
  text-shadow: 5px 4px 1px rgba(0, 0, 0, 0.2);
}
.head .hero .hero_textnumber img {
  margin-right: 25px;
}
.head .hero .hero_textuser {
  font-size: 24px;
  font-family: 'Roboto-Light', sans-serif;
  line-height: 31px;
  margin-left: 117px;
  padding-bottom: 77px;
  text-shadow: 5px 4px 1px rgba(0, 0, 0, 0.2);
}
.head .openaccount {
  padding-top: 19px;
  font-family: 'Roboto', sans-serif;
  width: 380px;
}
.head .openaccount h3 {
  margin-bottom: 0;
  text-transform: uppercase;
}
.head .openaccount h3 span {
  font-family: 'Roboto-Bold', sans-serif;
  margin-bottom: 30px;
}
.head .openaccount input[type=text],
.head .openaccount input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #d7dce0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 12px;
  resize: vertical;
  color: #363636;
}
.head .openaccount .autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
.head .openaccount .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  color: #363636;
}
.head .openaccount .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.head .openaccount .autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.head .openaccount .autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.head .openaccount .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.head .openaccount .phone_code {
  border: 1px solid #d7dce0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 12px;
  margin-bottom: 16px;
  resize: vertical;
  color: #363636;
  padding: 12px 12px 12px 15px;
  width: 80px;
  margin-right: 12px;
}
.head .openaccount .phone_number {
  border: 1px solid #d7dce0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 12px;
  margin-bottom: 16px;
  resize: vertical;
  color: #363636;
  padding: 12px;
  width: 100%;
}
.head .openaccount .icon-question {
  background: url(../img/email.svg) no-repeat;
  background-position: 340px 10px;
  background-size: 24px;
  background-color: #ffffff;
}
.head .openaccount .icon-arrow {
  background: url(../img/arrow.svg) no-repeat;
  background-position: 340px 20px;
  background-size: 12px;
  background-color: #ffffff;
}
.head .openaccount .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.head .openaccount .checkbox_box {
  margin: 0;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.head .openaccount .checkbox_text {
  font-size: 14px;
  line-height: 18px;
  margin-left: 11px;
}
.head .openaccount .checkbox_text a {
  color: #ffffff;
  text-decoration: underline;
}
.head .openaccount form {
  margin-bottom: 25px;
}
.head .openaccount .openaccount_text {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 50px;
}
.head .openaccount .brands {
  margin-bottom: 70px;
}
.head .openaccount .brands1,
.head .openaccount .brands2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.head .openaccount .brands1 {
  margin-bottom: 37px;
}
.button {
  width: 380px;
  background-color: #f7941d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
  font-size: 26px;
}
.button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fee095), color-stop(#fbcd4d), to(#f8ba04));
  background-image: linear-gradient(#fee095, #fbcd4d, #f8ba04);
  color: #000;
}
.platforminfo {
  font-family: 'Roboto-Medium', sans-serif;
  padding-top: 130px;
}
.platforminfo .row {
  margin: 0;
}
.platforminfo .devices_img img {
  width: 100%;
}
.platforminfo .devices_alltext {
  margin-bottom: 94px;
}
.platforminfo .devices_alltext h1 {
  font-size: 40px;
  line-height: 45px;
  margin-top: 0;
}
.platforminfo .devices_text {
  font-family: 'Roboto-Light', sans-serif;
}
.platforminfo .devices_text h3 {
  color: #085b8a;
}
.canceltrades {
  background-image: url(../img/canceltrades@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}
.canceltrades h1 {
  font-size: 61px;
  line-height: 70px;
  font-family: 'Roboto-Medium', sans-serif;
  padding-top: 71px;
  margin-bottom: 28px;
}
.canceltrades h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  line-height: 34px;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}
.canceltrades .video {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.canceltrades i {
  font-size: 149px;
  margin-bottom: 47px;
  color: #ffffff;
}
.canceltrades h3:last-of-type {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 27px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.canceltrades h2 {
  font-family: Arial;
  font-size: 43px;
  line-height: 65px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.canceltrades h2 span {
  font-weight: 300;
  color: #84aa56;
}
.canceltrades h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  line-height: 28px;
  margin-top: 0;
  padding-bottom: 65px;
}
.advantages {
  text-align: center;
}
.advantages h1 {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 38px;
  line-height: 45px;
  padding-top: 63px;
  margin-bottom: 68px;
}
.advantages .advantages_wrap {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.advantages .advantages_wrap .advantages_col {
  width: 220px;
}
.advantages .advantages_wrap h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.advantages .advantages_wrap p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 69px;
}
.advantages .button {
  margin-bottom: 61px;
}
.advantages::after {
  content: "";
  border-bottom: 1px solid #959595;
  display: block;
  position: relative;
}
.footer_wrap {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.footer_text {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 38px;
  line-height: 49px;
  padding-top: 68px;
  margin-bottom: 47px;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: #84aa56;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.colorgreen {
  color: #84aa56;
}
.footer_textrisk {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 38px;
}
.footer_texttm {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 33px;
}
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.slideanimright {
  visibility: hidden;
}
.slideright {
  animation-name: slideRightReturn;
  -webkit-animation-name: slideRightReturn;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
.slideRightReturn {
  -webkit-animation-name: slideRightReturn;
  animation-name: slideRightReturn;
}
@-webkit-keyframes slideRightReturn {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slideRightReturn {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
